@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    svg.map-canvas {
        cursor:none;
    }
    svg.map-canvas text {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    svg.map-canvas text::selection {
        background: none;
    }
}
